name: Upload PECL Extension
run-name: Upload PECL builds for ${{ inputs.extension }}-${{ inputs.ref }}
on:
  workflow_dispatch:
    inputs:
      url:
        description: 'Artifact URL'
      extension:
        description: 'Extension Name'
      ref:
        description: 'Extension Ref'
jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Upload
        run: |
          curl \
          --request POST \
          --location https://downloads.php.net/api/pecl \
          --header 'Authorization: Bearer ${{ secrets.AUTH_TOKEN }}' \
          --data '{ "url": "${{ inputs.url }}", "extension": "${{ inputs.extension }}", "ref": "${{ inputs.ref }}", "token": "${{ secrets.TOKEN }}" }'
