name: Upload Winlibs builds
run-name: Upload Winlibs builds for ${{ inputs.library }}-${{ inputs.ref }}
on:
  workflow_dispatch:
    inputs:
      library:
        description: 'Library Name'
        required: true
      ref:
        description: 'Library Ref'
        required: true
      type:
        description: 'Library Type (php or pecl)'
        required: true
        default: 'php'
      workflow_run_id:
        description: 'Workflow Run ID'
        required: true
      php_versions:
        description: 'PHP Versions'
        required: true
      vs_version_targets:
        description: 'VS Version Targets'
        required: true
      stability:
        description: 'Stability'
        required: true
jobs:
  print-inputs:
    runs-on: ubuntu-latest
    steps:
      - name: job summary
        run: |
          echo "### inputs" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "| Name | Value |" >> $GITHUB_STEP_SUMMARY
          echo "| ---- | ----- |" >> $GITHUB_STEP_SUMMARY
          echo "| library | ${{ inputs.library }} |" >> $GITHUB_STEP_SUMMARY
          echo "| ref | ${{ inputs.ref }} |" >> $GITHUB_STEP_SUMMARY
          echo "| type | ${{ inputs.type }} |" >> $GITHUB_STEP_SUMMARY
          echo "| workflow_run_id | ${{ inputs.workflow_run_id }} |" >> $GITHUB_STEP_SUMMARY
          echo "| php_versions | ${{ inputs.php_versions }} |" >> $GITHUB_STEP_SUMMARY
          echo "| vs_version_targets | ${{ inputs.vs_version_targets }} |" >> $GITHUB_STEP_SUMMARY
          echo "| stability | ${{ inputs.stability }} |" >> $GITHUB_STEP_SUMMARY
  test:
    runs-on: ubuntu-latest
    environment: downloads.php.net
    steps:
      - name: Upload
        run: |
          curl \
          --request POST \
          --location https://downloads.php.net/api/winlibs \
          --header 'Authorization: Bearer ${{ secrets.AUTH_TOKEN }}' \
          --data '{ "library": "${{ inputs.library }}", "ref": "${{ inputs.ref }}", "type": "${{ inputs.type }}", "workflow_run_id": "${{ inputs.workflow_run_id }}", "php_versions": "${{ inputs.php_versions }}", "vs_version": "${{ inputs.vs_version }}", "vs_version_targets": "${{ inputs.vs_version_targets }}", "stability": "${{ inputs.stability }}", "token": "${{ secrets.TOKEN }}" }'
